<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Authors</title>
	<h2> Our contributing authors: </h2>
</head>
	<a href="/authors/add"> Click here to become an author! </a>

<body>
</body>
</html>