<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Contributing Authors</title>
	<h2> Knicks Bloggers </h2>
</head>
<body>
	<form action="/authors" method="POST">
		<input type="text" name="username" placeholder="First/Last Name">
		<input type="text" name="email" placeholder="Email">
	<button> Submit </button>
	</form>

	</body>
</html>