<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>NYK, ALL DAY.</title>
	<h2> Contributing Authors: </h2>
	<a href="/"> Home Page </a>
</head>
<body>
	<br>
	<br>
	<form action="/authors" method="POST">
		<input type="text" name="username" placeholder="First/Last Name">
		<br>
		<input type="text" name="email" placeholder="Email">
	<button> Submit </button>
	</form>

	</body>
</html>