<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>NYK, ALL DAY.</title>
	<h2> Authors </h2>
</head>
<body>


<h3> Name: <%=author["username"]%> </h3>
<h3> Email: <%=author["email"]%> </h3>

<h3> Other works written by <%=author["username"]%>: </h3>

</body>
</html>