<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>NYK, ALL DAY.</title>
	<h2> Our contributing authors: </h2>
	<a href="/authors/add"> Click here to become an author! </a>
	<br>
	<a href="/"> Home Page </a>

</head>

	<% authors.each do |x| %>
	<ul>
		<li>
			<a href="/authors/<%= x["id"] %>"> <%= x["username"] %> </a>
		</li>
	</ul>
		<% end %>
		
<body>
</body>
</html>