<!DOCTYPE html>
<html lang="en">
<header>
	<meta charset="UTF-8">
	<title>#threetothdome</title>
	
	<h1> #threetothdome</h1>
	
	<link rel="stylesheet" href="/style.css">
	<link href='http://fonts.googleapis.com/css?family=Cinzel:700' rel='stylesheet' type='text/css'>
	<br>
	<p>giving you all the Knicks news and updates you want.</p>

<div class="index">
<ul>
	<li> <a href="/authors"> Authors</a> </li>
		<li> <a href="/posts"> Posts </a> </li>
			<li> <a href="/feed"> News Feed </a> <li>
				<li> <a href="/tags"> Search by tag</a> </li>
</ul>
</div>

</header>
<body>


</body>
	<div class="subscribe_button">
		<a href="/subscribe">
		<button> Click here to subscribe! </button>
		</a>
	</div>
</footer>
</html>