<!DOCTYPE html>
<html lang="en">
<header>
	<meta charset="UTF-8">
	<title>NYK, ALL DAY.</title>
	<h1> NY ALL DAY, EVERYDAY.</h1>
	<p>giving you all the Knicks news and updates you want.</p>
	<link rel="stylesheet" href="/style.css">
<ul>
	<li> <a href="/authors"> Authors</a> </li>
	<li> <a href="/posts"> Posts </a> </li>
	<li> <a href="/tags"> Search by tag</a> </li>
</ul>
</header>
<body>


</body>
</html>