<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>New York Knicks Sports Blog</title>
	<h2> NYK all day, everyday.</h2>
	<p>giving you all the Knicks news and updates you want.</p>
</head>
<body>
	<a href="/authors"> Authors</a>
	<br>	
	<a href="/posts"> Posts </a>
	<br>
	<a href="/tag"> Search posts by tag</a>

</body>
</html>