<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>NYK, ALL DAY.</title>
	<h2> Posts </h2>
</head>
<body>
	<h4> Written by: <%= author["username"] %> </h4>

	<h3> Title: <%=post["title"]%> </h3>
	<h3> Date: <%=post["post_date"]%> </h3>
	<p> <%=post["post"]%> </p>
	

</body>
</html>