<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Knicks Posts</title>
	<h2> posts </h2>
	<a href="/posts/add"> Click to write a new post </a>
</head>
<body>
	<p> view all listed posts here </p>
</body>
</html>