<!DOCTYPE html>
<html lang="en">
<header>
	<meta charset="UTF-8">
	<title>#threetothdome</title>

	<h1> NY ALL DAY, EVERYDAY.</h1>

	<p>giving you all the Knicks news and updates you want.</p>
	<link rel="stylesheet" href="/style.css">
	<link href='http://fonts.googleapis.com/css?family=Cinzel:700' rel='stylesheet' type='text/css'>


	<ul>
		<li> <a href="/authors"> Authors</a> </li>
		<li> <a href="/posts"> Posts </a> </li>
		<li> <a href="/tags"> Search by tag</a> </li>
		<li> <a href="/"> Home Page </a> </li>
	</ul>
	<h3> Express yo'self!</h3>
</header>

<body>
	<form action="/posts" method="POST">
		<br>
		<input type="text" name="title" placeholder="Title of Post">
		<input type="text" name="post_date" placeholder="XX/XX/XXXX (date)">
		<input type="text" name="tag" placeholder="tags/keywords">
		<br>
		<br>
		<textarea name="post" cols="50" rows="5" placeholder="Write here!"></textarea>
		<br>
		
	<select name="author_id">
    	<% authors.each do |x| %>
        	<option value="<%= x["id"] %>"><%= x["username"] %>
        	</option>
      	<% end %>
    </select>	

    <button> Post </button>	
	
	</form>
	
	<div class="add_button">
		<a href="/authors/add">
		<button> Add a new author </button>
		</a>
	</div>

</body>
</html>