<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>NYK, ALL DAY.</title>
	<h2> Posts </h2>
	<a href="/posts/add"> Click to write a new post </a>
	<br>
	<a href="/"> Home Page </a>

</head>
<body>

	<% posts.each do |x| %>
	<ul>
		<li>
			<a href="/posts/<%= x["id"] %>"> <%= x["title"] %> <%= x["post_date"] %> </a>
		</li>
	</ul>
		<% end %>



</body>
</html>