<!DOCTYPE html>
<html lang="en">
<header>
	<meta charset="UTF-8">
	<title>Tags</title>

	<h1> NY ALL DAY, EVERYDAY.</h1>
	<p>giving you all the Knicks news and updates you want.</p>

	<link rel="stylesheet" href="/style.css">

	<h3> Search posts by tags: </h3>
</header>

<body>
			<ul>
				<%list_tags.each do |tag|%>
					<li> <a href='/tags/<%=tag['id']%>'><%=tag['tag']%> </a> </li>
				<%end%>
			</ul>

		
	</div>
</body>
</html>