<!DOCTYPE html>
<html lang="en">
<header>
	<meta charset="UTF-8">
	<title>#threetothdome</title>

	<h1> NY ALL DAY, EVERYDAY.</h1>

	<link rel="stylesheet" href="/style.css">
	<link href='http://fonts.googleapis.com/css?family=Cinzel:700' rel='stylesheet' type='text/css'>

	<ul>
		<li> <a href="/authors"> Authors</a> </li>
		<li> <a href="/posts"> Posts </a> </li>
		<li> <a href="/tags"> Search by tag</a> </li>
		<li> <a href="/"> Home Page </a> </li>
	</ul>

</header>
<body>

<h3> Current tags in use: </h3> 	

	<% posts.each do |x| %>
	<ul>
		<li>
 			<a href="/posts/<%= x["id"] %>"> #<%= x["tag"] %></a>
		</li>
	</ul>
		<% end %>
		
	<div class="add_button">
		<a href="/tags/add">
			<button> +hashtag </button>
				<a href="/tags/:id/edit">
					<button> -hashtag </button>
	</div>

</body>
</html>